body {
  margin: 0;
  height: 100vh;
  font-family: 'Cormorant Garamond', serif;

  background: url('bg.png') no-repeat center center/cover;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: zoomBg 20s ease-in-out infinite alternate;
}

@keyframes zoomBg {
  from { background-size: 100%; }
  to { background-size: 110%; }
}

.login-container {
  width: 320px;
  padding: 40px;
  text-align: center;

  backdrop-filter: blur(15px);

  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);

  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;

}

.login-container h1 {
  font-family: 'Cinzel', serif;
  margin-bottom: 10px;
}

.tagline {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;

  background: transparent;
  border: 1px solid #f8f6f2;
  color: #f8f6f2;

  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;

  background: transparent;
  border: 1px solid #f8f6f2;
  color: #f8f6f2;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #f8f6f2;
  color: #000;
}

.toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.toggle span {
  cursor: pointer;
  padding: 5px 10px;
  opacity: 0.6;
  transition: 0.3s;
}

.toggle span.active {
  opacity: 1;
  border-bottom: 1px solid #f8f6f2;
}


@media (max-width: 768px) {

  .screens {
    flex-direction: column;
    gap: 30px;
  }

  .card {
    width: 90%;
  }

  .movie-card {
    flex-direction: column;
    text-align: center;
  }

  .seats {
    grid-template-columns: repeat(5, 35px);
  }

  .login-container,
  .payment-container,
  .success-container {
    width: 90%;
    padding: 25px;
  }

  .summary {
    width: 90%;
    right: 5%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
