* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Cormorant Garamond', serif;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url('Capstone.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Content */
.content {
  color: #f8f6f2; /* pearl white */
  max-width: 900px;
  padding: 20px;
}

/* Title */
h1 {
  font-family: 'Cinzel', serif;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

/* Tagline */
.tagline {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  line-height: 1.7;
}

/* Button */
.btn {
  padding: 14px 32px;
  border: 1px solid #f8f6f2;
  background: transparent;
  color: #f8f6f2;
  font-size: 0.9rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #f8f6f2;
  color: #000;
}


@media (max-width: 768px) {

  .screens {
    flex-direction: column;
    gap: 30px;
  }

  .card {
    width: 90%;
  }

  .movie-card {
    flex-direction: column;
    text-align: center;
  }

  .seats {
    grid-template-columns: repeat(5, 35px);
  }

  .login-container,
  .payment-container,
  .success-container {
    width: 90%;
    padding: 25px;
  }

  .summary {
    width: 90%;
    right: 5%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
